.app-container {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.list-item {
  flex: 0 1 150px;
  margin: 5px;
}

.list-container {
  grid-column: 1 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid;
  margin-top: 10px;
  width: 100%;
}

.me {
  border: 1px solid;
  grid-column: 1 / 4;
  justify-content: right;

  img {
    border-radius: 50%;
  }
}
